body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  top: 0px !important;
  margin: 0; }
  body > .skiptranslate {
    display: none !important; }
  body .content {
    max-width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    color: #ffffff; }
    body .content .title {
      font-size: 140px;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: url("./bg-flags.jpg");
      background-size: cover;
      background-position: 50% 20%;
      color: transparent;
      margin-top: 0; }
    body .content .first-template {
      display: flex; }
    body .content #postText,
    body .content .outputText {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      padding: 20px;
      resize: none;
      font-size: 15px;
      color: #000000;
      background-color: #ffffff;
      height: 202px;
      overflow: auto;
      border: 1px solid #ffffff;
      transition: 0.5s background-color; }
    body .content #postText:focus {
      transition: 0.5s background-color;
      background-color: #d3d3d3;
      outline: none; }
    body .content .outputText.skeleton {
      position: relative;
      color: transparent;
      background: #e2e2e2;
      overflow: hidden; }
    body .content .outputText.hide-text::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      border-radius: 50%;
      left: 0%;
      top: 0;
      background: linear-gradient(to right, #e2e2e2 25%, #d5d5d5 50%, #e2e2e2 100%);
      animation-name: gradient-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      filter: blur(5px); }
    body .content .count {
      background: #000000;
      border: 1px solid #ffffff;
      border-left-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box; }
      body .content .count > div {
        text-align: center; }
    body .content #google_translate_element {
      display: block;
      margin: 10px 0; }
    body .content .btn {
      padding: 10px 15px;
      cursor: pointer;
      background-color: #b2b2b2;
      border-color: #b2b2b2;
      margin-top: 20px;
      transition: 0.5s background-color;
      border-radius: 5px; }
      body .content .btn:hover {
        background-color: inherit;
        color: #b2b2b2;
        transition: 0.4s background-color; }

@keyframes gradient-animation {
  from {
    left: 0%; }
  to {
    left: 100%; } }
